# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Environment variables
.env

# Logs
logs/
*.log
